/*
Autor: Lucas Genari
Data: 15/06/2020
GitHub: https://github.com/xcasluw
*/

@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Poopins", sans-serif;
  background-image: linear-gradient(
    to left bottom,
    rgb(0, 0, 0),
    rgb(36, 36, 36)
  );
}

h1 {
  font-size: 7rem;
  color: #222;
  font-weight: 700;
}

h1 span {
  animation: luzes 3s linear infinite;
}

h1 span:nth-child(1) {
  animation-delay: 0s;
}

h1 span:nth-child(2) {
  animation-delay: 0.2s;
}

h1 span:nth-child(3) {
  animation-delay: 0.3s;
}

h1 span:nth-child(4) {
  animation-delay: 0.4s;
}

h1 span:nth-child(5) {
  animation-delay: 0.5s;
}

h1 span:nth-child(6) {
  animation-delay: 0.6s;
}

h1 span:nth-child(7) {
  animation-delay: 0.7s;
}

h1 span:nth-child(8) {
  animation-delay: 0.8s;
}

h1 span:nth-child(9) {
  animation-delay: 0.9s;
}

h1 span:nth-child(10) {
  animation-delay: 1s;
}

h1 span:nth-child(11) {
  animation-delay: 1.1s;
}

h1 span:nth-child(12) {
  animation-delay: 1.2s;
}

h1 span:nth-child(13) {
  animation-delay: 1.3s;
}

h1 span:nth-child(14) {
  animation-delay: 1.4s;
}

@keyframes luzes {
  0%,
  80% {
    color: #222;
    text-shadow: none;
  }

  100% {
    color: #008127;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #fff, 0 0 80px #fff,
      0 0 120px #fff, 0 0 140px #fff;
  }
}
